:root {
    --primary-color: #ffffff --second-color: #e26309 --third-color: #323232;
    --primary-font-size: 16px;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: var(--second-color);
    color: var(--third-color);
    font-size: var(--primary-font-size);
}