.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #E26309;
}

#logoImg {

    min-width : 60px;
    max-width : 60%;
}

@media screen {
    .container-fluid{
        justify-content: center;
    }
}