/*? pseuloelementos*/
.imagen :hover {
    background-color: black;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.722);
    box-shadow: 2px 2px rgb(230, 201, 173);
}

<<<<<<< HEAD
* {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: var(--primary-color);
    color: var(--third-color);
    font-size: var(--primary-font-size);
}

p {
    text-align: justify;
}

.container {
    display: grid;
    grid-gap: 15px;
}

.top-section-tag {
    grid-area: LayerNav;
}

.nav-ul-tag li {
    list-style: none;
    width: max-content;
}

.nav-ul-tag a {
    text-decoration: none;

}

.header-tag {
    grid-area: LayerHeader;
}

.main-content-tag {
    grid-area: LayerContent;
}

.footer-tag {
    grid-area: LayerFooter;
}

@media only screen and (width <= 531px) {

    /* CSS styles for larger mobile devices */

    .container {

        grid-template:
            "LayerNav" 200px
            "LayerHeader" 200px
            "LayerContent" 400px
            "LayerFooter" 700px;

    }

    .nav-ul-tag {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-section-tag {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logoMCD {
        width: 100px;
    }
}

@media only screen and (min-width: 531px) {

    /* CSS styles for larger mobile devices */

    .container {

        grid-template:
            "LayerNav" 130px
            "LayerHeader" 200px
            "LayerContent" 400px
            "LayerFooter" 700px;
    }

    .nav-ul-tag {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        font-size: var(--primary-font-size);
    }

    .nav-ul-tag li {
        padding: 10px;
    }

    #logoMCD {
        width: 100px;
        margin-top: 5px;
    }

=======
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #E26309;
}

.faq-title {
    color: #E26309;
}

#logoImg {
    min-width: 60px;

}

.banner {
    width: 100%;
}

.calculadoraContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCalculadora {
    height: 280px;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive-video-nosotros {
    display: flex;
    justify-content: center;
}

#video-youtube-iframe {
    width: 100%;
    height: 400px;
}

.contenedor-mapa {
    display: flex;
    width: 100%;
    height: 100%;
}

#valoracionEstrellas {
    width: 30%;
}

.imagen img {
    width: 100%;
}

#bannerProyecto {
    min-height: 200px;
    object-fit:cover;
}

.galeria {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

@media (min-width:100px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width:520px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:728px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1024px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
    }
}

.carousel-item img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}

.imagen img {
    width: 100%;
    height: 100%;
>>>>>>> main
}